.idea
.cache
.ipynb_checkpoints
.vscode
data
doc
docs/build
trace_venv
predev
*.zip
*.py~
*.pyc
*.swp
.gitignore~
.spyderworkspace
*.lprof
*.lprof~

build/

*.so
*.c

my_example/
dist/
build/
*.egg-info/
my_example/
*log